<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.clock.bluetoothlib">

    <!-- 6.0以下只要开启这两个权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature
    android:name="android.hardware.bluetooth_le"
    android:required="true"/> <!-- 6.0以上需要开启定位权限（定位权限才是启动蓝牙权限） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>